@page "/companies"

<div class="row">
    <div class="col-md-10">
        @*Place for search and sort*@
    </div>
    <div class="col-md-2">
        <a href="/createCompany">Create Company</a>
    </div>
</div>
<div class="row">
    <div class="col">
        <CompanyTable Companies="CompanyList" />
        @*Place for companies*@
    </div>
</div>
<div class="row">
    <div class="col">
        @*Place for pagination*@
    </div>
</div>